<div class="t"></div>
<div class="a1"></div>
<div class="a2"></div>
<div class="a3"></div>
<div class="a4"></div>
<div class="t2"></div>
<div class="t3"></div>
<style>
  body {
    margin: 0; background: #334F9F;
  }
  .t, .t2, .t3, .a1, .a2, .a3, .a4 {
    width: 320px; height: 90px;
    background: #97AE41; position: absolute;
    left: 40;
  }
  .t2 {
    height: 40;
    top: 130;
  }
  .t3 {
    top: 210;
  }
  .a1, .a2, .a3, .a4{
    width: 40; height: 40;
    top: 90; left: 0 
  }
  .a2, .a4 {
    left: 360
  }
  .a4 {
    top: 170
  }
  .a3 {
    top: 170;
  }
</style>